Automatized_camera
.vscode/
info.txt
CAD_files/
CNC_cutting/
#Exclude all folder
drawings/
images/*
RaspberryPi/*
#Except
!RaspberryPi/ui_tk.py
!RaspberryPi/scanner.py
!RaspberryPi/cli.py
!RaspberryPi/functions.py
!RaspberryPi/main.py
!RaspberryPi/config.py
